.alert {
  padding: 0.75rem 0.75rem;
}

.alert-success {
  color: $alert-color;
}

.alert-danger {
  color: $alert-color;
}

.alert-warning {
  color: $alert-color;
}

.alert-info {
  color: $alert-color;
}
