.alert {
  padding: 0.75rem 0.75rem;
}

.alert-success, .alert-danger, .alert-warning, .alert-info {
  color: $alert-color;
}

.alert-dismissible .close {
  color: $link-color;
  opacity: 1;
  padding: 0.65rem 1rem;
  
  @include hover {
    color: $link-hover-color;
  }
}
