@import './edx-custom-card';
@import './navs';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  font-family: $font-family-sans-serif;
}

h1, .h1,
h2, .h2 {
  letter-spacing: -.025em;
}

a, .btn-link {
  // text-decoration: underline;
}

.btn .spinner-border {
  position: relative;
  top: -.05em;
  margin: 0 .375em 0 -.25em;
}