// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #e7e7e7 !default;
$gray-300: #d9d9d9 !default;
$gray-400: #c8c8c8 !default;
$gray-500: #a0a0a0 !default;
$gray-600: rgba(65, 65, 65, .75) !default;
$gray-700: #414141 !default;
$gray-800: #313131 !default;
$gray-900: #111 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:        #23419F !default;
$dark-blue:   #065784 !default;
$indigo:      #45096B !default;
$red:         #A2221D !default;
$yellow:      #FFBF18 !default;
$green:       #008100 !default;
$slate:       $gray-700 !default;
$magenta:     #9A1F60 !default;

// Background only colors
$pale-gray: #fcfcfc !default;
$pale-blue: #f5f8ff !default;
$pale-yellow: #Fffdf3 !default;
$light-green: #DFF0D8 !default;
$light-blue: #D8EDF8 !default;
$light-red: #F2DEDE !default;
$light-yellow: #FCF8E2 !default;


$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":           $blue,
    "dark-blue":      $dark-blue,
    "indigo":         $indigo,
    "red":            $red,
    "yellow":         $yellow,
    "green":          $green,
    "slate":          $slate,
    "magenta":        $magenta,
    "pale-gray":      $pale-gray,
    "pale-blue":      $pale-blue,
    "pale-yellow":    $pale-yellow,
    "light-green":    $light-green,
    "light-blue":     $light-blue,
    "light-red":      $light-red,
    "light-yellow":   $light-yellow,
    "white":          $white,
    "gray":           $gray-600,
    "gray-dark":      $gray-800,
    "gray-900":       $gray-900,
    "gray-700":       $gray-700,
    "gray-600":       $gray-600,
  ),
  $colors
);

$primary:                 $blue !default;
$secondary:               $indigo !default;
$success:                 $green !default;
$info:                    $dark-blue !default;
$warning:                 $yellow !default;
$danger:                  $red !default;
$fill-success:              $light-green !default;
$fill-info:                 $light-blue !default;
$fill-danger:               $light-red !default;
$fill-warning:              $light-yellow !default;
$program-masters:         $slate !default;
$program-micro-masters:   $dark-blue !default;
$program-prof-cert:       $magenta !default;
$light:                   $gray-100 !default;
$dark:                    $gray-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":                $primary,
    "secondary":              $secondary,
    "success":                $success,
    "info":                   $info,
    "warning":                $warning,
    "danger":                 $danger,
    "fill-success":           $fill-success,
    "fill-info":              $fill-info,
    "fill-danger":            $fill-danger,
    "fill-warning":           $fill-warning,
    "program-masters":        $program-masters,
    "program-micro-masters":  $program-micro-masters,
    "program-prof-cert":      $program-prof-cert,
  ),
  $theme-colors
);




// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                false !default;



// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;


// Links
//
// Style anchor elements.

$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   none !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-width:                2px;
$border-color:                $gray-300 !default;

$border-radius:               .3rem !default;
$border-radius-lg:            .35rem !default;
$border-radius-sm:            2px !default;

$box-shadow-sm:               0 .0625rem .125rem rgba($black, .2);
$box-shadow:                  0 .125rem .25rem rgba($black, .3);
$box-shadow-lg:               0 .25rem .5rem rgba($black, .3);

$rounded-pill:                50rem !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:           "Georgia", serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, "Courier New", monospace !default;

$font-family-base:            $font-family-sans-serif !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semi-bold:       500 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        $font-family-serif !default;
$headings-font-weight:        $font-weight-bold !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display1-size:               4.5rem;
$display2-size:               4.5rem;
$display3-size:               4.5rem;
$display4-size:               4.5rem;

$display1-weight:             700 !default;
$display2-weight:             700 !default;
$display3-weight:             700 !default;
$display4-weight:             700 !default;
$display-line-height:         $headings-line-height !default;


$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            $font-weight-base !default;


$small-font-size:             80% !default;

$text-muted:                  $gray-600 !default;

$blockquote-font-size:        ($font-size-base * 1.25) !default;

$mark-bg:                     #fff243 !default;



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-box-shadow:  none !default;


// Buttons
$btn-padding-x:               1.25rem !default;
$btn-padding-x-sm:            1rem !default;
$btn-padding-x-lg:            1.75rem !default;
$btn-font-weight:             $font-weight-semi-bold !default;
$btn-active-box-shadow:       none !default;
$btn-border-radius:           $rounded-pill !default;
$btn-border-radius-lg:        $rounded-pill !default;
$btn-border-radius-sm:        $rounded-pill !default;


// Badges
$badge-font-weight:                 $font-weight-normal !default;
$badge-padding-y:                   .3em !default;
$badge-padding-x:                   .6em !default;
$badge-border-radius:               10rem !default; //$border-radius-sm !default;


// Modals 
$modal-inner-padding:               1.25rem !default;
$modal-content-border-width:        0 !default;
$modal-content-box-shadow-sm-up:    $box-shadow !default;
$modal-header-border-color:         $border-color !default;


// Alerts
$alert-color:                       $body-color !default;


// Progress
$progress-font-size:                ($font-size-base * .75) !default;


// Breadcrumbs
$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-bg:                     transparent !default;


// Code
$code-color:                        $magenta !default;
