@import "~bootstrap/scss/bootstrap";
@import "./scss/bootstrap-docs-4-2/docs";

.btn-clipboard {
  display: none;
}

.bd-sidebar {
  overflow-y: auto;
  .nav > li > a {
    &.active {
      font-weight: bold;
      color: $primary;
    }
  }
}